<main class="form-signin w-100 m-auto">
  <div class="contact_form_container">
    <div class="contact_form">
      <h2>LOGIN</h2>
      <div class="input_group">
        <input type="text" placeholder="Username" class="input_text" name="username" required>
      </div>
      <div class="input_group">
        <input type="password" placeholder="Password" class="input_text" name="password" required>
      </div>
      <div class="button_group" id="contact_button">
        <a href="">Login</a>
      </div>
      <br>
      <div class="float-end">
        <a routerLink="/register">Don't have an account?</a>
    </div>
    </div>
  </div>
</main>